/html/node_modules
/html/public/hot
/html/public/storage
/html/storage/app/*
/html/storage/framework/cache/data/*
/html/storage/framework/sessions/*
/html/storage/framework/testing/*
/html/storage/framework/views/*
/html/storage/logs/*
/html/storage/*.key
/html/vendor
/html/.styleci.yml
/html/.phpunit.result.cache
/html/.php-cs-fixer.cache
/html/package.json
/html/phpunit.xml
/html/README.md
/html/phpspec.yml
/html/npm-debug.log
/html/yarn-error.log
/.github
/.git
/.idea
/.vscode